
{% extends 'main.html' %}

{% block content %}
<style>
    .home-container{
        display:grid;
        grid-template-columns:1fr 7fr;
    }
</style>
<div class="home-container">


    <div>
<br/>
            <div>
                <a href="{% url 'accounts' %}">Accounts</a>
                <hr>
                 <a href="{% url 'accounttypes' %}">Account Types</a>
                <hr>
                <a href="{% url 'transactions' %}">Transactions</a>
                <hr>
                <a href="{% url 'txntypes' %}">Transaction Types</a>
            </div>

    </div>
    <div>
        <br/>
        {% block sidecontent %}
          {% endblock %}
    </div>
</div>

{% endblock %}
