<li class="nav-item">
    <a class="nav-link active" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'create-accounttype' %}">Create Account Type</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'create-account' %}">Create Account</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'create-transaction' %}">Create Transaction</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'create-txntype' %}">Create Transaction Type</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'create-recondate' %}">Create Reconciliation Date</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'recondashboard' %}"> Reconciliation Dashboard</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'loadntslfiles' %}"> Load NTSL Files</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'loadincomingfile' %}"> Load incoming File</a>
</li>

<hr>
