{% extends 'main.html' %}

{% block content %}
  <div class="">
    <br/>
    <form method="post" action="" class="row g-3">
      {% csrf_token %}

            <div class="col-md-2 text-end">{{form.number.label}}:</div>
            <div class="col-md-10 float-left">{{form.number}}</div>
            <div class="col-md-2 text-end">{{form.name.label}}:</div>
            <div class="col-md-10">{{form.name}}</div>
            <div class="col-md-2 text-end">{{form.openingBalance.label}}:</div>
            <div class="col-md-10">{{form.openingBalance}}</div>
            <div class="col-md-2 text-end">{{form.date.label}}:</div>
            <div class="col-md-10">{{form.date}}</div>
            <div class="col-md-2 text-end">{{form.accountType.label}}:</div>
            <div class="col-md-10">{{form.accountType}}</div>


        <div class="col-md-2"></div>
        <div class="col-md-10"><button type="submit" class="btn btn-primary btn-customized" >Submit</button></div>
    </form>
  </div>
<hr/>
<div >

    <div>
       <table class="table ">
       <tbody>
                <th></th>
                <th></th>
                <th>A/c No.</th>
                <th>A/c Name</th>
                <th>Opening Balance</th>
                <th>Date</th>
                <th>A/c Type</th>

             {% for account in accounts %}
            <tr>
               <td> <a href="{% url 'update-account' account.id%}">Edit</a></td>
                <td><a href="{% url 'delete-account' account.id%}">Delete</a></td>
                <td>{{account.number}}</td>
                <td>{{account.name}}</td>
                <td>{{account.openingBalance}}</td>
                <td>{{account.date}}</td>
                <td>{{account.accountType}}</td>

            </tr>
        {% endfor %}
       </tbody>
   </table>

    </div>
</div>
{% endblock %}