
{% extends 'home.html' %}

{% block sidecontent %}

<t >

   <table class="table table-striped">
       <tbody>
             {% for account in accounts %}
            <tr>
               <td> <a href="{% url 'update-account' account.id%}">Edit</a></td>
                <td><a href="{% url 'delete-account' account.id%}">Delete</a></td>
                <td>{{account}}</td>
                <td>{{txn}}</td>
                <td>{{bal}}</td>

            </tr>
        {% endfor %}
       </tbody>
   </table>
</div>

{% endblock %}
