
{% extends 'home.html' %}

{% block sidecontent %}

<div >

    <table class="table table-striped">
          <thead>
                            <th></th>
                            <th></th>
                             <th>A/c Type</th>
                        </thead>
        <tbody>
            {% for accounttype in accounttypes %}
            <tr>
              <td>  <a href="{% url 'update-accounttype' accounttype.id%}">Edit</a></td>
                <td><a href="{% url 'delete-accounttype' accounttype.id%}">Delete</a></td>
                <td>{{accounttype}}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
