{% extends 'main.html' %}
{% block content %}
<div>
    <br/>
    <form method="post" action="" class="row g-3">
        {% csrf_token %}
        <div class="col-md-2 text-end">{{form.type.label}}:</div>
        <div class="col-md-10">{{form.type}}</div>
        <div class="col-md-2"></div>
        <div class="col-md-10"><button type="submit" class="btn btn-primary btn-customized">Submit</button></div>

    </form>
</div>
<hr/>
<div >

    <div>

            <div>
                     <table class="table ">
          <thead>
                            <th></th>
                            <th></th>
                             <th>A/c Type</th>
                        </thead>
        <tbody>
            {% for accounttype in accounttypes %}
            <tr>
              <td>  <a href="{% url 'update-accounttype' accounttype.id%}">Edit</a></td>
                <td><a href="{% url 'delete-accounttype' accounttype.id%}">Delete</a></td>
                <td>{{accounttype}}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% endblock content %}