{% extends 'main.html' %}

{% block content %}
  <div>
    <br/>
    <form method="post" action="" class="row g-3">
      {% csrf_token %}
        <div class="col-md-2 text-end">{{form.date.label}}</div>
        <div class="col-md-10">{{form.date}}</div>

        <div class="col-md-2 text-end">{{form.debitAmount.label}}</div>
        <div class="col-md-10">{{form.debitAmount}}</div>
        <div class="col-md-2 text-end">{{form.creditAmount.label}}</div>
        <div class="col-md-10">{{form.creditAmount}}</div>
        <div class="col-md-2 text-end">{{form.adjustmentDate.label}}</div>
        <div class="col-md-10">{{form.adjustmentDate}}</div>
        <div class="col-md-2 text-end">{{form.description.label}}</div>
        <div class="col-md-10">{{form.description}}</div>
        <div class="col-md-2 text-end">{{form.status.label}}</div>
        <div class="col-md-10">{{form.status}}</div>
        <div class="col-md-2 text-end"></div>
        <div class="col-md-10"><button type="submit" class="btn btn-primary btn-customized">Submit</button></div>

    </form>
  </div>
<hr/>
<div >

    <div>
      <table class="table ">
       <thead>
            <th></th>
            <th></th>

            <th>Date</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Discription</th>
       </thead>
       <tbody>
             {% for entry in entries %}
            <tr>
               <td> <a href="{% url 'update-entry' entry.id%}">Edit</a></td>
                <td><a href="{% url 'delete-entry' entry.id%}">Delete</a></td>
                <td>{{entry.date}}</td>
                 <td>{{entry.debitAmount}}</td>
                <td>{{entry.creditAmount}}</td>
                <td>{{entry.description}}</td>


            </tr>
        {% endfor %}
       </tbody>
   </table>

    </div>
</div>
{% endblock %}