
{% extends 'home.html' %}

{% block sidecontent %}

<div >


        <table class="table table-striped">
            <tbody>
                {% for txntype in txntypes %}
                    <tr>
                        <td><a href="{% url 'update-txntype' txntype.id%}">Edit</a></td>
                        <td><a href="{% url 'delete-txntype' txntype.id%}">Delete</a></td>
                        <td>{{txntype}}</td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>



{% endblock %}
