{% extends 'main.html' %}

{% block content %}
  <div>
    <br/>
    <form method="post" action="" class="row g-3">
      {% csrf_token %}
        <div class="col-md-2 text-end">{{form.type.label}}</div>
        <div class="col-md-10">{{form.type}}</div>
        <div class="col-md-2 text-end"></div>
        <div class="col-md-10"><button type="submit" class="btn btn-primary btn-customized">Submit</button></div>

  </div>
<hr/>
<div>

      <table class="table ">
              <thead>
                            <th></th>
                            <th></th>
                             <th>Transaction Type</th>
                        </thead>
            <tbody>
                {% for txntype in txntypes %}
                    <tr>
                        <td><a href="{% url 'update-txntype' txntype.id%}">Edit</a></td>
                        <td><a href="{% url 'delete-txntype' txntype.id%}">Delete</a></td>
                        <td>{{txntype}}</td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
</div>
{% endblock %}